<div class="outer-div">
  <%= video_tag "atvjumps.mp4",class: "video-element", autoplay: true, loop: true, mute: true%>
</div>

<div class="search-box">
   <input type="text" placeholder="Where do you live?">
</div>
