<div class="containter">
  <h1 class= "index-title"><strong>ATV Listing</strong></h1>

    <div class="flex-container">
      <% @atvs.each do |atv| %>
        <%= link_to atv_path(atv.id) do %>
          <div class="atv-card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
              url('<%= cl_image_path atv.photo, height: 300, width: 400, crop: :fill %>')">
            <h2><%= atv.make %></h2>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
