.my-container {
  padding: 0 75px;

}
.top-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin: 25px;
}

.spec-container {
  flex: 0 100%
}

.btm-banner {
  display: flex;
  justify-content: space-between
}

.atv-description {
  display: flex;
  align-items: center;
  justify-content: center;

}

.img-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  flex-direction: column;

}

.img-circle{
  border: 1px solid;
  box-shadow:3px 3px 3px lightgrey;
}
