.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  a{
    text-decoration: none;
    color: lightgray;
    flex: 0 1 calc(25% - 20px);
    margin: 10px;
  }

}

.atv-card {
  display: flex;
  height: 250px;
  background-size: cover;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);


}

.atv-img{
  box-shadow:10px 10px 10px grey;

   border: 1px solid;
}




