
.container {
  width:100% ;
}

.top-banner {
  box-shadow:10px 10px 10px lightgray;
}

.title {
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  width: 100px;
  margin-right: 0 auto;
  display: block;
}
.spec-container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  opacity: 0.8;
  border: 1px solid black;
  background: rgba(40,40,40,0.1);
  background-color: #dee3e5;

}

.spec-container h2 {
  color: #387EA5;
  text-align: center;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
}

.atv-img{
   border: 1px solid black;
   height: 400px;
   background-size: cover;
}

.atv-container-show {
  width: 50%;
}

.btm-banner {
  background-color: #dee3e5;
  box-shadow: 10px 10px 10px lightgray;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
}

.index-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  }
.atv-description h4 {
  color: #387EA5;
}
