.outer-div {
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-bottom: 9px;
    box-shadow: 10px 10px 10px lightgray;
}

.video-element {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
